.second {
  .steps__second-title {
    margin-bottom: 8px;
  }

  &__custom-radio {
    margin-bottom: 14px;
  }

  &__custom-radio:first-child {
    padding-top: 22px;
  }

  &__textarea {
    textarea {
      height: 40px;
    }
  }

  &__base-input {
    input::placeholder {
      text-align: center;
    }

    &--dimensions {
      display: inline-block;
      max-width: 102px;
      width: 100%;
    }
  }

  &__counter {
    display: flex;
    align-items: center;

    & .base-input{
      max-width: 94px;
      margin: 0 7px;
      padding-top: 0;

      input {
        text-align: center;
      }
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 46px;
      height: 46px;
      &:hover {
        color: #ffffff;
        background-color: $base-red;
      }
    }

  }

  @media (max-width: 576px) {
    padding-top: 36px;
  }
}
