/* Normalize */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

html,
body {
  width: 100%;
  font-size: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  vertical-align: top;
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/* End Normalize */

/* Fonts */

@font-face {
  font-family: "Effra Trial";
  font-display: swap;
  src: url("../fonts/Effra-Regular.woff") format("woff"), url("../fonts/Effra-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Effra Trial";
  font-display: swap;
  src: url("../fonts/Effra-Bold.woff") format("woff"), url("../fonts/Effra-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

/* End Fonts */

/* Typography */

body {
  font-family: "Effra", sans-serif;
  font-size: 16px;
  color: #253746;
}

/*
h1 {
    font-size: rem(54px);
    line-height: $base-line-height * 3;
    margin-bottom: $base-line-height * 2;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    line-height: $base-line-height * 2;
    margin-bottom: $base-line-height;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    line-height: $base-line-height;
    margin-bottom: $base-line-height;
    font-weight: bold;
}
*/

.h5,
h5 {
  margin-top: 40px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 20px;
}

/* End Typography */

/* Base styles */

body {
  padding: 50px 0;
  background-color: #f7f7ff;
  border: 1px solid #000;
}

img {
  display: block;
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-full {
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.col-1_68 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(14% - 40px);
}

.col-2_93 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(24.41667% - 40px);
}

.col-2_97 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(24.75% - 40px);
}

.col-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(25% - 40px);
}

.col-3_5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(29.16667% - 40px);
}

.col-3_85 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(32.08333% - 40px);
}

.col-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(33.33333% - 40px);
}

.col-4_25 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(35.41667% - 40px);
}

.col-4_82 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(40.16667% - 40px);
}

.bold {
  font-weight: 700;
}

.sum {
  font-weight: 700;
  font-size: 32px;
  line-height: 20px;
  color: #EB0045;
}

.steps__second-title {
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #EB0045;
  border-bottom: 2px solid #EB0045;
}

.steps__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
}

.steps__footer-arrival {
  font-size: 20px;
}

.steps__footer-price {
  margin-left: 60px;
}

.steps .date {
  font-size: 18px;
}

.steps__footer-button {
  width: 219px;
  margin-left: 60px;
}

.step {
  margin-bottom: 35px;
}

.step.close .step__button-open {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.step.close .step__content {
  padding-top: 0;
  display: none;
}

.step__button-open {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 37px;
  height: 37px;
  margin-right: 15px;
  border-radius: 50%;
  border: none;
  background-color: #EB0045;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.step__button-open svg {
  position: relative;
  top: -1px;
  pointer-events: none;
}

.step__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Effra Trial';
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 20px;
}

.step__content {
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding-top: 40px;
}

.tabs__content {
  display: none;
  margin-top: 15px;
}

.tabs__input {
  display: none;
}

.tabs__label {
  display: inline-block;
  padding: 12px 24px;
  width: 100%;
  color: #EB0045;
  text-align: center;
  border: 1px solid #EB0045;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.tabs__label:last-child {
  margin-left: -4px;
}

.tabs__label:hover {
  color: #ffffff;
  background-color: #EB0045;
  cursor: pointer;
}

.tabs #tab-1:checked ~ #label-1,
.tabs #tab-2:checked ~ #label-2,
.tabs #tab-3:checked ~ #label-3,
.tabs #tab-4:checked ~ #label-4,
.tabs #tab-5:checked ~ #label-5,
.tabs #tab-6:checked ~ #label-6,
.tabs #tab-7:checked ~ #label-7,
.tabs #tab-8:checked ~ #label-8 {
  color: #ffffff;
  background-color: #EB0045;
}

.tabs__label.active {
  color: #ffffff;
  background-color: #EB0045;
}

.tabs #tab-1:checked ~ #content-1,
.tabs #tab-2:checked ~ #content-2,
.tabs #tab-3:checked ~ #content-3,
.tabs #tab-4:checked ~ #content-4,
.tabs #tab-5:checked ~ #content-5,
.tabs #tab-6:checked ~ #content-6,
.tabs #tab-7:checked ~ #content-7,
.tabs #tab-8:checked ~ #content-8 {
  display: block;
}

.white-block {
  padding: 41px 50px 54px 50px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.show-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 21px;
  font-weight: 600;
  color: #EB0045;
  background-color: transparent;
  border: none;
}

.show-map svg {
  margin-right: 9px;
}

.add-cargo {
  position: absolute;
  top: 10px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  font-weight: 600;
  color: #EB0045;
  border: none;
  background-color: transparent;
}

.add-cargo svg {
  margin-right: 9px;
}

.question {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  background-color: #f0f0fc;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.question:after {
  content: '?';
  font-weight: 800;
  font-size: 11px;
  color: #EB0045;
}

.question:hover .question__tooltip {
  display: block;
}

.question__tooltip {
  display: none;
  position: absolute;
  top: 23px;
  z-index: 3;
  width: 222px;
  padding: 16px;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 20px;
  color: #253746;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* End Base styles */

/* MAIN STYLES */

.base-button {
  max-width: 219px;
  width: 100%;
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  background-color: #EB0045;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.base-button:hover {
  background-color: #FF004B;
}

.base-button--reverse {
  color: #EB0045;
  background-color: transparent;
  border: 1px solid #EBEBF4;
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 15px;
  cursor: pointer;
}

.custom-checkbox--hidden {
  width: 0;
  height: 0;
  visibility: hidden;
  margin: 0;
}

.custom-checkbox--hidden:checked ~ .custom-checkbox__pseudo::after {
  background-color: #EB0045;
}

.custom-checkbox__pseudo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin-right: 9px;
  border: 1px solid #EB0045;
  border-radius: 3px;
}

.custom-checkbox__pseudo:after {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 2px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.custom-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9375rem;
  font-weight: 400;
  color: #253746;
  cursor: pointer;
}

.custom-radio--hidden {
  width: 0;
  height: 0;
  visibility: hidden;
  margin: 0;
}

.custom-radio--hidden:checked ~ .custom-radio__pseudo::after {
  background-color: #EB0045;
}

.custom-radio__pseudo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin-right: 9px;
  border: 1px solid #EB0045;
  border-radius: 50%;
}

.custom-radio__pseudo:after {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.base-input {
  position: relative;
  padding-top: 22px;
}

.base-input label {
  position: absolute;
  left: 4px;
  top: 5px;
  font-size: 12px;
  visibility: hidden;
  color: transparent;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.base-input input {
  width: 100%;
  padding: 12px 19px;
  background-color: #f6f6ff;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #253746;
}

.base-input input::-webkit-input-placeholder {
  font-size: 12px;
  color: #a2aab5;
}

.base-input input::-moz-placeholder {
  font-size: 12px;
  color: #a2aab5;
}

.base-input input:-ms-input-placeholder {
  font-size: 12px;
  color: #a2aab5;
}

.base-input input::-ms-input-placeholder {
  font-size: 12px;
  color: #a2aab5;
}

.base-input input::placeholder {
  font-size: 12px;
  color: #a2aab5;
}

.base-input input:focus ~ label {
  visibility: visible;
  color: #a2aab5;
}

.base-input input:not(:-moz-placeholder-shown) ~ label {
  visibility: visible;
  color: #a2aab5;
}

.base-input input:not(:-ms-input-placeholder) ~ label {
  visibility: visible;
  color: #a2aab5;
}

.base-input input:not(:placeholder-shown) ~ label {
  visibility: visible;
  color: #a2aab5;
}

.base-input input:focus::-webkit-input-placeholder {
  color: transparent;
}

.base-input input:focus::-moz-placeholder {
  color: transparent;
}

.base-input input:focus:-ms-input-placeholder {
  color: transparent;
}

.base-input input:focus::-ms-input-placeholder {
  color: transparent;
}

.base-input input:focus::placeholder {
  color: transparent;
}

.base-input.country {
  max-width: 205px;
  width: 100%;
  margin-right: 22px;
}

.base-input.series {
  max-width: 90px;
  width: 100%;
  margin-right: 22px;
}

.base-input.identification {
  margin-right: 22px;
  max-width: 278px;
  width: 100%;
}

.base-input.date {
  max-width: 150px;
  width: 100%;
}

.base-input.half {
  width: calc(50% - 11px);
}

.base-input.time {
  max-width: 113px;
  width: 100%;
}

.time-divider {
  padding-top: 20px;
}

.base-textarea {
  position: relative;
  padding-top: 22px;
}

.base-textarea label {
  position: absolute;
  left: 4px;
  top: 5px;
  font-size: 12px;
  visibility: hidden;
  color: transparent;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.base-textarea textarea {
  width: 100%;
  height: 73px;
  padding: 12px 19px;
  background-color: #f6f6ff;
  border: none;
  border-radius: 3px;
  color: #253746;
}

.base-textarea textarea::-webkit-input-placeholder {
  font-size: 12px;
  color: #a2aab5;
}

.base-textarea textarea::-moz-placeholder {
  font-size: 12px;
  color: #a2aab5;
}

.base-textarea textarea:-ms-input-placeholder {
  font-size: 12px;
  color: #a2aab5;
}

.base-textarea textarea::-ms-input-placeholder {
  font-size: 12px;
  color: #a2aab5;
}

.base-textarea textarea::placeholder {
  font-size: 12px;
  color: #a2aab5;
}

.base-textarea textarea:focus ~ label {
  visibility: visible;
  color: #a2aab5;
}

.base-textarea textarea:not(:-moz-placeholder-shown) ~ label {
  visibility: visible;
  color: #a2aab5;
}

.base-textarea textarea:not(:-ms-input-placeholder) ~ label {
  visibility: visible;
  color: #a2aab5;
}

.base-textarea textarea:not(:placeholder-shown) ~ label {
  visibility: visible;
  color: #a2aab5;
}

.base-textarea textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.base-textarea textarea:focus::-moz-placeholder {
  color: transparent;
}

.base-textarea textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.base-textarea textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.base-textarea textarea:focus::placeholder {
  color: transparent;
}

.first .steps__second-title {
  margin-bottom: 30px;
}

.first__textarea {
  margin-top: 28px;
}

.second .steps__second-title {
  margin-bottom: 8px;
}

.second__custom-radio {
  margin-bottom: 14px;
}

.second__custom-radio:first-child {
  padding-top: 22px;
}

.second__textarea textarea {
  height: 40px;
}

.second__base-input input::-webkit-input-placeholder {
  text-align: center;
}

.second__base-input input::-moz-placeholder {
  text-align: center;
}

.second__base-input input:-ms-input-placeholder {
  text-align: center;
}

.second__base-input input::-ms-input-placeholder {
  text-align: center;
}

.second__base-input input::placeholder {
  text-align: center;
}

.second__base-input--dimensions {
  display: inline-block;
  max-width: 102px;
  width: 100%;
}

.second__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second__counter .base-input {
  max-width: 94px;
  margin: 0 7px;
  padding-top: 0;
}

.second__counter .base-input input {
  text-align: center;
}

.second__counter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 46px;
}

.second__counter-button:hover {
  color: #ffffff;
  background-color: #EB0045;
}

.third .steps__second-title {
  margin-bottom: 30px;
}

.third__textarea {
  margin-top: 28px;
}

.fourth .row-flex {
  margin-left: -10px;
  margin-right: -10px;
}

.fourth .col-3 {
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
}

.fourth__custom-radio {
  height: 200px;
  padding: 29px;
}

.fourth__custom-radio .custom-radio__pseudo {
  margin-right: 12px;
}

.fourth__custom-radio .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fourth__custom-radio .title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
}

.fourth__custom-radio .description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.fourth__custom-radio .price {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #EB0045;
}

.fourth__item {
  position: relative;
  background-color: #f6f6ff;
  border-radius: 3px;
}

.fifth .steps__second-title {
  margin-bottom: 30px;
}

.fifth__custom-checkbox:not(:last-child) {
  margin-bottom: 14px;
}

/* END MAIN STYLES */

/* ----------=====---------- */

/* MEDIA */

@media (max-width: 1024px) {
  .tabs__label-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tabs__label:last-child {
    margin-left: 0;
    margin-top: -4px;
  }

  .base-input.time {
    max-width: 72px;
  }
}

@media screen and (max-width: 992px) {
  .col-2_97 {
    width: calc(50% - 40px);
  }

  .col-3_5 {
    width: calc(50% - 40px);
  }

  .col-3_85 {
    width: calc(50% - 40px);
  }

  .col-4 {
    width: calc(50% - 40px);
  }
}

@media (max-width: 992px) {
  .col-4:first-child {
    margin-bottom: 20px;
  }

  .fourth .col-3 {
    width: calc(50% - 20px);
  }

  .fourth .col-3:first-child {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .col-2_93 {
    width: calc(50% - 40px);
  }

  .col-4_25 {
    width: calc(50% - 40px);
  }

  .col-4_82 {
    width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .col-4_82 {
    margin-bottom: 20px;
  }

  .steps__footer-price {
    margin-left: 30px;
  }

  .steps__footer-button {
    margin-left: 30px;
  }

  .step {
    margin-bottom: 22px;
  }

  .white-block {
    padding: 26px 20px;
  }
}

@media screen and (max-width: 576px) {
  .col-1_68 {
    width: calc(100% - 40px);
  }

  .col-2_93 {
    width: calc(100% - 40px);
  }

  .col-2_97 {
    width: calc(100% - 40px);
  }

  .col-3_5 {
    width: calc(100% - 40px);
  }

  .col-3_85 {
    width: calc(100% - 40px);
  }

  .col-4 {
    width: calc(100% - 40px);
  }

  .col-4_25 {
    width: calc(100% - 40px);
  }

  .col-4_82 {
    width: calc(100% - 40px);
  }
}

@media (max-width: 576px) {
  .col-1_68 {
    margin-bottom: 30px;
  }

  .col-2_97 {
    margin-bottom: 30px;
  }

  .col-3_5 {
    margin-bottom: 30px;
  }

  .col-4:not(:last-child) {
    margin-bottom: 20px;
  }

  .col-4_82 {
    margin-bottom: 30px;
  }

  .steps__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .steps__footer-arrival {
    margin-bottom: 15px;
  }

  .steps__footer-price {
    margin-left: 0;
    margin-bottom: 22px;
  }

  .steps__footer-button {
    margin-left: 0;
  }

  .step__title {
    font-size: 1.375rem;
    line-height: 26px;
  }

  .step__content {
    padding-top: 30px;
  }

  .show-map {
    margin-bottom: 30px;
  }

  .add-cargo {
    top: -17px;
  }

  .second {
    padding-top: 36px;
  }

  .fourth .col-3 {
    width: calc(100%);
  }

  .fourth .col-3:not(:last-child) {
    margin-bottom: 20px;
  }

  .fourth__custom-radio {
    height: auto;
  }

  .fourth__custom-radio .description {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-bottom: 15px;
  }
}