/* Normalize */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

html,
body {
  width: 100%;
  font-size: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  vertical-align: top;
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/* End Normalize */

/* Fonts */

@font-face {
  font-family: "Effra Trial";
  font-display: swap;
  src: url("../fonts/Effra-Regular.woff") format("woff"), url("../fonts/Effra-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Effra Trial";
  font-display: swap;
  src: url("../fonts/Effra-Bold.woff") format("woff"), url("../fonts/Effra-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

/* End Fonts */

/* Typography */

body {
  font-family: "Effra", sans-serif;
  font-size: 16px;
  color: #253746;
}

/*
h1 {
    font-size: rem(54px);
    line-height: $base-line-height * 3;
    margin-bottom: $base-line-height * 2;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    line-height: $base-line-height * 2;
    margin-bottom: $base-line-height;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    line-height: $base-line-height;
    margin-bottom: $base-line-height;
    font-weight: bold;
}
*/

.h5,
h5 {
  margin-top: 40px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 20px;
}

/* End Typography */

/* Base styles */

body {
  padding: 50px 0;
  background-color: #f7f7ff;
}

img {
  display: block;
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-full {
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.col-1_68 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(14% - 40px);
}

.col-2_93 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(24.41667% - 40px);
}

.col-2_97 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(24.75% - 40px);
}

.col-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(25% - 40px);
}

.col-3_5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(29.16667% - 40px);
}

.col-3_85 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(32.08333% - 40px);
}

.col-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(33.33333% - 40px);
}

.col-4_25 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(35.41667% - 40px);
}

.col-4_82 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(40.16667% - 40px);
}

.col-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(50% - 40px);
}

.bold {
  font-weight: 700;
}

.sum {
  font-weight: 700;
  font-size: 32px;
  line-height: 20px;
  color: #EB0045;
}

.steps__second-title {
  position: relative;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #EB0045;
  border-bottom: 2px solid #EB0045;
}

.steps__second-title-error {
  position: absolute;
  top: -23px;
  right: 0;
  display: none;
  font-size: 0.75rem;
  color: #EB0045;
}

.steps__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
}

.steps__footer-arrival {
  font-size: 20px;
}

.steps__footer-price {
  margin-left: 60px;
}

.steps .date {
  font-size: 18px;
}

.steps__footer-button {
  width: 219px;
  margin-left: 60px;
}

.step {
  margin-bottom: 35px;
}

.step.close .step__button-open {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.step.close .step__content {
  padding-top: 0;
  display: none;
}

.step__button-open {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 37px;
  height: 37px;
  margin-right: 15px;
  border-radius: 50%;
  border: none;
  background-color: #EB0045;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.step__button-open svg {
  position: relative;
  top: -1px;
  pointer-events: none;
}

.step__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Effra Trial';
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 20px;
}

.step__content {
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding-top: 40px;
}

.tabs__content {
  display: none;
  margin-top: 15px;
}

.tabs__input {
  display: none;
}

.tabs__label {
  display: inline-block;
  padding: 12px 24px;
  width: 100%;
  color: #EB0045;
  text-align: center;
  border: 1px solid #EB0045;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.tabs__label:last-child {
  margin-left: -4px;
}

.tabs__label:hover {
  color: #ffffff;
  background-color: #EB0045;
  cursor: pointer;
}

.tabs #tab-1:checked ~ #label-1,
.tabs #tab-2:checked ~ #label-2,
.tabs #tab-3:checked ~ #label-3,
.tabs #tab-4:checked ~ #label-4,
.tabs #tab-5:checked ~ #label-5,
.tabs #tab-6:checked ~ #label-6,
.tabs #tab-7:checked ~ #label-7,
.tabs #tab-8:checked ~ #label-8 {
  color: #ffffff;
  background-color: #EB0045;
}

.tabs__label.active {
  color: #ffffff;
  background-color: #EB0045;
}

.tabs #tab-1:checked ~ #content-1,
.tabs #tab-2:checked ~ #content-2,
.tabs #tab-3:checked ~ #content-3,
.tabs #tab-4:checked ~ #content-4,
.tabs #tab-5:checked ~ #content-5,
.tabs #tab-6:checked ~ #content-6,
.tabs #tab-7:checked ~ #content-7,
.tabs #tab-8:checked ~ #content-8 {
  display: block;
}

.white-block {
  padding: 41px 50px 54px 50px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.show-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 21px;
  font-weight: 600;
  color: #EB0045;
  background-color: transparent;
  border: none;
}

.show-map svg {
  margin-right: 9px;
}

.add-cargo {
  position: absolute;
  top: 10px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  font-weight: 600;
  color: #EB0045;
  border: none;
  background-color: transparent;
}

.add-cargo svg {
  margin-right: 9px;
}

.question {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  background-color: #f0f0fc;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.question:after {
  content: '?';
  font-weight: 800;
  font-size: 11px;
  color: #EB0045;
}

.question:hover .question__tooltip {
  display: block;
}

.question__tooltip {
  display: none;
  position: absolute;
  top: 23px;
  z-index: 3;
  width: 222px;
  padding: 16px;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 20px;
  color: #253746;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
}

.calendar {
  max-width: 600px;
}

.calendar__header {
  width: 100%;
  padding: 12px 26px;
  text-align: center;
  background-color: #253746;
  border-radius: 3px;
}

.calendar__header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.calendar__header li {
  color: white;
}

.calendar__weekdays {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f6f6ff;
}

.calendar__weekdays li {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.calendar__days {
  padding: 10px 20px;
  background-color: #f6f6ff;
  margin: 0;
}

.calendar__days li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 27px;
  height: 27px;
  margin-bottom: 10px;
  color: #000000;
  font-size: 0.875rem;
  border-radius: 50%;
  cursor: pointer;
}

.calendar__days li.empty {
  border: none;
  cursor: default;
}

.calendar__days li.active {
  background-color: #EB0045;
  color: white !important;
}

.calendar__prev,
.calendar__next {
  cursor: pointer;
}

.calendar__prev {
  padding-right: 35px;
}

.calendar__next {
  padding-left: 35px;
}

.calendar__days,
.calendar__weekdays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.modal {
  width: 100%;
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__body {
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.modal__content {
  max-height: 768px;
  overflow: hidden;
  overflow-y: auto;
  padding: 55px 50px;
}

.modal__title {
  margin-bottom: 24px;
  font-size: 2rem;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.modal__title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #eb0045;
}

.modal__title a img {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.modal__close {
  position: absolute;
  right: -38px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38px;
  height: 38px;
  padding: 0;
  border: none;
  background-color: #253746;
  border-radius: 2px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.modal__close:hover {
  background-color: #2e4457;
}

.modal__small-content:not(:last-child) {
  margin-bottom: 15px;
}

.modal__small-title {
  font-size: 12px;
  line-height: 18px;
  color: #a2aab5;
}

.modal__small-text {
  line-height: 24px;
}

.modal__small-text--price {
  margin-left: 19px;
  font-weight: 700;
  color: #eb0045;
}

.modal__small-text sup {
  vertical-align: super;
}

.modal__small-content-passport {
  position: relative;
  margin-bottom: 15px;
}

.modal__small-content-passport__title {
  font-weight: 700;
  color: #324351;
  cursor: pointer;
}

.modal__small-content-passport__title svg {
  margin-left: 2px;
}

.modal__small-content-passport__content {
  position: absolute;
  top: 30px;
  z-index: 1;
  padding: 20px 23px;
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
}

.modal__small-content-passport.hidden .modal__small-content-passport__title svg {
  margin-bottom: -3px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal__small-content-passport.hidden .modal__small-content-passport__content {
  display: none;
}

.modal--check .modal__content {
  max-width: 960px;
  width: 100%;
}

.modal--check .white-block {
  margin-bottom: 20px;
  padding: 28px;
}

.modal--check .row-flex {
  margin-left: -10px;
  margin-right: -10px;
}

.modal--check .col-6 {
  margin-left: 10px;
  margin-right: 10px;
  width: calc(50% - 20px);
}

.modal--check .steps__footer-price,
.modal--check .steps__footer-button {
  margin-left: 22px;
}

.modal--check .steps__second-title {
  margin-bottom: 15px;
}

.modal--check .steps__second-title span {
  font-size: 16px;
  font-weight: 400;
  color: #324351;
}

.modal--confirm .modal__base-input-description {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #a2aab5;
}

.modal--confirm .modal__content {
  max-width: 595px;
  width: 100%;
}

.modal--confirm .base-button {
  margin-top: 36px;
}

.modal--confirm .error {
  margin-top: 17px;
  font-size: 14px;
  color: #EB0045;
}

.modal--confirm a {
  font-size: 15px;
  color: #EB0045;
}

.modal--success {
  text-align: center;
}

.modal--success .modal__content {
  max-width: 485px;
  width: 100%;
}

.warning-tooltip {
  position: absolute;
  top: 15px;
  left: 195px;
  z-index: 1;
  max-width: 306px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
}

.warning-tooltip__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ededf3;
}

.warning-tooltip__header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 19px;
  height: 19px;
  margin-right: 7px;
  font-weight: 900;
  font-size: 11px;
  color: #ffffff;
  border-radius: 50%;
  background-color: #EB0045;
}

.warning-tooltip__text {
  padding: 15px 20px;
  font-size: 14px;
  line-height: 22px;
  color: #324351;
}

.small-calc-footer {
  padding: 20px 24px;
  background-color: #ffffff;
}

.small-calc-footer__row {
  margin-bottom: 13px;
}

.small-calc-footer__content {
  margin-bottom: 7px;
}

.small-calc-footer__price {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: #eb0045;
}

.small-calc-footer__description {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #253746;
}

.small-calc-footer__footnote {
  font-size: 14px;
  line-height: 20px;
  color: #959ba4;
}

.small-calc-footer__divider {
  width: 12px;
  height: 1px;
  margin: 0 12px;
  background-color: #bdbdbd;
}

/* End Base styles */

/* MAIN STYLES */

.base-button {
  max-width: 219px;
  width: 100%;
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  background-color: #EB0045;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.base-button:hover {
  background-color: #ff004b;
}

.base-button--reverse {
  color: #EB0045;
  background-color: transparent;
  border: 1px solid #ebebf4;
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
}

.custom-checkbox--hidden {
  width: 0;
  height: 0;
  visibility: hidden;
  margin: 0;
}

.custom-checkbox--hidden:checked ~ .custom-checkbox__pseudo::after {
  background-color: #EB0045;
}

.custom-checkbox__pseudo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin-right: 9px;
  border: 1px solid #EB0045;
  border-radius: 3px;
}

.custom-checkbox__pseudo:after {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 2px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.custom-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9375rem;
  font-weight: 400;
  color: #253746;
  cursor: pointer;
}

.custom-radio--hidden {
  width: 0;
  height: 0;
  visibility: hidden;
  margin: 0;
}

.custom-radio--hidden:checked ~ .custom-radio__pseudo::after {
  background-color: #EB0045;
}

.custom-radio__pseudo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin-right: 9px;
  border: 1px solid #EB0045;
  border-radius: 50%;
}

.custom-radio__pseudo:after {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.base-input {
  position: relative;
  padding-top: 22px;
}

.base-input label {
  position: absolute;
  left: 4px;
  top: 5px;
  font-size: 12px;
  visibility: hidden;
  color: transparent;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.base-input input {
  width: 100%;
  padding: 12px 19px;
  background-color: #f6f6ff;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #253746;
  font-size: 1rem;
}

.base-input input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #a2aab5;
}

.base-input input::-moz-placeholder {
  font-size: 1rem;
  color: #a2aab5;
}

.base-input input:-ms-input-placeholder {
  font-size: 1rem;
  color: #a2aab5;
}

.base-input input::-ms-input-placeholder {
  font-size: 1rem;
  color: #a2aab5;
}

.base-input input::placeholder {
  font-size: 1rem;
  color: #a2aab5;
}

.base-input input:focus ~ label {
  visibility: visible;
  color: #a2aab5;
}

.base-input input:not(:-moz-placeholder-shown) ~ label {
  visibility: visible;
  color: #a2aab5;
}

.base-input input:not(:-ms-input-placeholder) ~ label {
  visibility: visible;
  color: #a2aab5;
}

.base-input input:not(:placeholder-shown) ~ label {
  visibility: visible;
  color: #a2aab5;
}

.base-input input:focus::-webkit-input-placeholder {
  color: transparent;
}

.base-input input:focus::-moz-placeholder {
  color: transparent;
}

.base-input input:focus:-ms-input-placeholder {
  color: transparent;
}

.base-input input:focus::-ms-input-placeholder {
  color: transparent;
}

.base-input input:focus::placeholder {
  color: transparent;
}

.base-input.country {
  max-width: 205px;
  width: 100%;
  margin-right: 22px;
}

.base-input.series {
  max-width: 90px;
  width: 100%;
  margin-right: 22px;
}

.base-input.identification {
  margin-right: 22px;
  max-width: 278px;
  width: 100%;
}

.base-input.date {
  max-width: 150px;
  width: 100%;
}

.base-input.half {
  width: calc(50% - 11px);
}

.base-input.time {
  position: relative;
  max-width: 113px;
  width: 100%;
}

.base-input.time input {
  text-align: center;
  cursor: text;
}

.base-input.time.active .time__selector {
  display: block;
}

.time__selector {
  display: none;
  position: absolute;
  bottom: -45px;
  right: 0;
  z-index: 1;
  width: 208px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 30px rgba(162, 170, 181, 0.2);
          box-shadow: 0px 4px 30px rgba(162, 170, 181, 0.2);
  border-radius: 2px;
}

.time__selector-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.time__selector-input-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.time__selector-input-buttons .up,
.time__selector-input-buttons .down {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 22px;
  height: 22px;
  background-color: #253746;
  border: none;
  border-radius: 2px;
}

.time__selector-input-buttons .up:after,
.time__selector-input-buttons .down:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 8px;
}

.time__selector-input-buttons .up:hover,
.time__selector-input-buttons .down:hover {
  background-color: #344d63;
}

.time__selector-input-buttons .up {
  margin-bottom: 2px;
}

.time__selector-input-buttons .up:after {
  border: 3px solid transparent;
  border-bottom: 3px solid #ffffff;
}

.time__selector-input-buttons .down:after {
  top: 10px;
  border: 3px solid transparent;
  border-top: 3px solid #ffffff;
}

.time__selector-input .hours,
.time__selector-input .minutes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.time__selector-input .hours__input,
.time__selector-input .minutes__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #253746;
  text-align: center;
  background-color: #ffffff;
}

.time__selector-input .hours__input[type='number']::-webkit-outer-spin-button,
.time__selector-input .hours__input[type='number']::-webkit-inner-spin-button,
.time__selector-input .minutes__input[type='number']::-webkit-outer-spin-button,
.time__selector-input .minutes__input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.time__selector-input .hours__input[type='number'],
.time__selector-input .hours__input[type='number']:hover,
.time__selector-input .hours__input[type='number']:focus,
.time__selector-input .minutes__input[type='number'],
.time__selector-input .minutes__input[type='number']:hover,
.time__selector-input .minutes__input[type='number']:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

.time-divider {
  padding-top: 20px;
}

.base-textarea {
  position: relative;
  padding-top: 22px;
}

.base-textarea label {
  position: absolute;
  left: 4px;
  top: 5px;
  font-size: 12px;
  visibility: hidden;
  color: transparent;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.base-textarea textarea {
  width: 100%;
  height: 73px;
  padding: 12px 19px;
  background-color: #f6f6ff;
  border: none;
  border-radius: 3px;
  color: #253746;
  resize: vertical;
}

.base-textarea textarea::-webkit-input-placeholder {
  font-size: 12px;
  color: #a2aab5;
}

.base-textarea textarea::-moz-placeholder {
  font-size: 12px;
  color: #a2aab5;
}

.base-textarea textarea:-ms-input-placeholder {
  font-size: 12px;
  color: #a2aab5;
}

.base-textarea textarea::-ms-input-placeholder {
  font-size: 12px;
  color: #a2aab5;
}

.base-textarea textarea::placeholder {
  font-size: 12px;
  color: #a2aab5;
}

.base-textarea textarea:focus ~ label {
  visibility: visible;
  color: #a2aab5;
}

.base-textarea textarea:not(:-moz-placeholder-shown) ~ label {
  visibility: visible;
  color: #a2aab5;
}

.base-textarea textarea:not(:-ms-input-placeholder) ~ label {
  visibility: visible;
  color: #a2aab5;
}

.base-textarea textarea:not(:placeholder-shown) ~ label {
  visibility: visible;
  color: #a2aab5;
}

.base-textarea textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.base-textarea textarea:focus::-moz-placeholder {
  color: transparent;
}

.base-textarea textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.base-textarea textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.base-textarea textarea:focus::placeholder {
  color: transparent;
}

.custom-select {
  position: relative;
  padding: 13px 21px;
  background-color: #f6f6ff;
  border-radius: 3px;
  cursor: pointer;
}

.custom-select__title {
  width: 90%;
  overflow: hidden;
  font-size: 1rem;
}

.custom-select__icon svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.custom-select__current {
  font-size: 0.875rem;
  line-height: 20px;
  color: #424242;
}

.custom-select__select {
  position: absolute;
  top: 47px;
  left: -1px;
  z-index: 15;
  overflow: hidden;
  overflow-y: auto;
  display: none;
  width: calc(100% + 1px);
  height: 315px;
  padding: 19px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 40px rgba(162, 170, 181, 0.2);
          box-shadow: 0px 4px 40px rgba(162, 170, 181, 0.2);
  border-radius: 3px;
}

.custom-select__select-content {
  margin-bottom: 30px;
}

.custom-select__select-item {
  margin-bottom: 23px;
  padding-left: 17px;
}

.custom-select__select-title {
  margin-bottom: 14px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 20px;
  color: #424242;
  border-bottom: 1px solid #d9d9d9;
}

.custom-select__select-text {
  margin-bottom: 5px;
  color: #424242;
}

.custom-select__select-text.selected {
  color: #EB0045;
}

.custom-select__select-description {
  font-weight: 400;
  font-size: 0.75rem;
  color: #a4a4a4;
}

.custom-select__select-description span {
  font-weight: 700;
}

.custom-select__input {
  position: absolute;
  z-index: -1;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
  margin: 0;
  height: 0;
  font-size: 0;
}

.custom-select.open svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.custom-select.open .custom-select__select {
  display: block;
}

.search__input {
  width: 100%;
  padding: 12px 19px;
  padding-right: 25px;
  background: #f6f6ff;
  border-radius: 3px;
  border: 1px solid transparent;
}

.search__input::-webkit-input-placeholder {
  color: #a2aab5;
}

.search__input::-moz-placeholder {
  color: #a2aab5;
}

.search__input:-ms-input-placeholder {
  color: #a2aab5;
}

.search__input::-ms-input-placeholder {
  color: #a2aab5;
}

.search__input::placeholder {
  color: #a2aab5;
}

.search__button {
  position: absolute;
  top: 31px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.first .steps__second-title {
  margin-bottom: 30px;
}

.first__textarea {
  margin-top: 28px;
}

.second .steps__second-title {
  margin-bottom: 8px;
}

.second__custom-radio {
  margin-bottom: 14px;
}

.second__custom-radio:first-child {
  padding-top: 22px;
}

.second__textarea textarea {
  height: 40px;
}

.second__base-input input::-webkit-input-placeholder {
  text-align: center;
}

.second__base-input input::-moz-placeholder {
  text-align: center;
}

.second__base-input input:-ms-input-placeholder {
  text-align: center;
}

.second__base-input input::-ms-input-placeholder {
  text-align: center;
}

.second__base-input input::placeholder {
  text-align: center;
}

.second__base-input--dimensions {
  display: inline-block;
  max-width: 102px;
  width: 100%;
}

.second__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second__counter .base-input {
  max-width: 94px;
  margin: 0 7px;
  padding-top: 0;
}

.second__counter .base-input input {
  text-align: center;
}

.second__counter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 46px;
}

.second__counter-button:hover {
  color: #ffffff;
  background-color: #EB0045;
}

.second__custom-select {
  margin-top: 28px;
}

.second__search {
  margin-bottom: 30px;
}

.third {
  position: relative;
}

.third .steps__second-title {
  margin-bottom: 30px;
}

.third__textarea {
  margin-top: 28px;
}

.fourth .row-flex {
  margin-left: -10px;
  margin-right: -10px;
}

.fourth .col-3 {
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
}

.fourth__custom-radio {
  height: 200px;
  padding: 29px;
}

.fourth__custom-radio .custom-radio__pseudo {
  margin-right: 12px;
}

.fourth__custom-radio .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fourth__custom-radio .title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
}

.fourth__custom-radio .description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.fourth__custom-radio .price {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #EB0045;
}

.fourth__item {
  position: relative;
  background-color: #f6f6ff;
  border-radius: 3px;
}

.fifth .steps__second-title {
  margin-bottom: 30px;
}

.fifth__custom-checkbox:not(:last-child) {
  margin-bottom: 14px;
}

/* END MAIN STYLES */

/* ----------=====---------- */

/* MEDIA */

@media (max-width: 1024px) {
  .tabs__label-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tabs__label:last-child {
    margin-left: 0;
    margin-top: -4px;
  }

  .base-input.time {
    max-width: 72px;
  }
}

@media screen and (max-width: 992px) {
  .col-2_97 {
    width: calc(50% - 40px);
  }

  .col-3_5 {
    width: calc(50% - 40px);
  }

  .col-3_85 {
    width: calc(50% - 40px);
  }

  .col-4 {
    width: calc(50% - 40px);
  }
}

@media (max-width: 992px) {
  .col-4:first-child {
    margin-bottom: 20px;
  }

  .fourth .col-3 {
    width: calc(50% - 20px);
  }

  .fourth .col-3:first-child {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .col-2_93 {
    width: calc(50% - 40px);
  }

  .col-4_25 {
    width: calc(50% - 40px);
  }

  .col-4_82 {
    width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .col-4_82 {
    margin-bottom: 20px;
  }

  .steps__footer-price {
    margin-left: 30px;
  }

  .steps__footer-button {
    margin-left: 30px;
  }

  .step {
    margin-bottom: 22px;
  }

  .white-block {
    padding: 26px 20px;
  }

  .base-input.time {
    max-width: 100px;
  }

  .time__selector {
    right: -108px;
  }
}

@media screen and (max-width: 576px) {
  .col-1_68 {
    width: calc(100% - 40px);
  }

  .col-2_93 {
    width: calc(100% - 40px);
  }

  .col-2_97 {
    width: calc(100% - 40px);
  }

  .col-3_5 {
    width: calc(100% - 40px);
  }

  .col-3_85 {
    width: calc(100% - 40px);
  }

  .col-4 {
    width: calc(100% - 40px);
  }

  .col-4_25 {
    width: calc(100% - 40px);
  }

  .col-4_82 {
    width: calc(100% - 40px);
  }

  .modal--check .col-6 {
    width: calc(100% - 40px);
  }
}

@media (max-width: 576px) {
  .col-1_68 {
    margin-bottom: 30px;
  }

  .col-2_97 {
    margin-bottom: 30px;
  }

  .col-3_5 {
    margin-bottom: 30px;
  }

  .col-4:not(:last-child) {
    margin-bottom: 20px;
  }

  .col-4_82 {
    margin-bottom: 30px;
  }

  .steps__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .steps__footer-arrival {
    margin-bottom: 15px;
  }

  .steps__footer-price {
    margin-left: 0;
    margin-bottom: 22px;
  }

  .steps__footer-button {
    width: 100%;
    margin-left: 0;
  }

  .steps__footer-button .base-button {
    max-width: 100%;
  }

  .step__title {
    font-size: 1.375rem;
    line-height: 26px;
  }

  .step__content {
    padding-top: 30px;
  }

  .show-map {
    margin-bottom: 30px;
  }

  .add-cargo {
    top: -17px;
  }

  .modal {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .modal__body {
    width: calc(100% - 38px);
  }

  .modal__content {
    padding: 20px;
  }

  .modal__title {
    font-size: 1.75rem;
    text-align: left;
  }

  .modal--check .modal__content {
    max-height: 100vh;
  }

  .modal--check .col-6 {
    width: 100%;
  }

  .modal--check .steps__footer-price,
  .modal--check .steps__footer-button {
    margin-left: 0;
  }

  .modal--check .bold {
    display: block;
    padding-bottom: 10px;
  }

  .modal--check .steps__footer-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .modal--check .steps__footer-price .sum {
    padding-left: 5px;
    font-size: 1.625rem;
  }

  .modal--check .white-block {
    padding: 20px;
  }

  .modal--success {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .base-input input {
    padding: 12px;
  }

  .base-input input::-webkit-input-placeholder {
    font-size: 0.75rem;
  }

  .base-input input::-moz-placeholder {
    font-size: 0.75rem;
  }

  .base-input input:-ms-input-placeholder {
    font-size: 0.75rem;
  }

  .base-input input::-ms-input-placeholder {
    font-size: 0.75rem;
  }

  .base-input input::placeholder {
    font-size: 0.75rem;
  }

  .time:last-child .time__selector {
    right: 0;
  }

  .second {
    padding-top: 36px;
  }

  .fourth .col-3 {
    width: calc(100%);
  }

  .fourth .col-3:not(:last-child) {
    margin-bottom: 20px;
  }

  .fourth__custom-radio {
    height: auto;
  }

  .fourth__custom-radio .description {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 414px) {
  .modal__title a {
    margin-left: 0;
  }

  .modal__title a:first-child {
    margin-top: 10px;
  }

  .modal--check .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .second__base-input--dimensions {
    max-width: 90px;
  }

  .second__base-input--dimensions:last-child {
    max-width: 100%;
  }
}

@media (max-width: 360px) {
  .modal__small-content--wight,
  .modal__small-content--volume {
    width: 50px;
  }
}