// button
.base-button {
  max-width: 219px;
  width: 100%;
  padding: 16px;
  font-weight: 500;
  font-size: 16px;

  color: #ffffff;

  text-align: center;

  background-color: $base-red;
	border: 1px solid transparent;
  border-radius: 3px;

  cursor: pointer;

  transition: $base-transition;

  &:hover {
    background-color: #FF004B;
  }

	&--reverse {
		color: $base-red;
		background-color: transparent;
		border: 1px solid #EBEBF4;

	}
}

// checkbox
.custom-checkbox {
  display: flex;
  width: 100%;

  font-size: 15px;

  cursor: pointer;

  &--hidden {
    width: 0;
    height: 0;
    visibility: hidden;
    margin: 0;

    &:checked ~ .custom-checkbox__pseudo::after {
      background-color: $base-red;
    }
  }

  &__pseudo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 18px;
    height: 18px;

    margin-right: 9px;

    border: 1px solid $base-red;
    border-radius: 3px;

    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 5px);
      left: calc(50% - 5px);

      width: 10px;
      height: 10px;
      background-color: transparent;
      border-radius: 2px;
      transition: $base-transition;
    }
  }
}

//radio
.custom-radio {
  display: flex;

  font-size: rem(15px);
  font-weight: 400;
  color: $base-text-color;

  cursor: pointer;

  &--hidden {
    width: 0;
    height: 0;
    visibility: hidden;
    margin: 0;

    &:checked ~ .custom-radio__pseudo::after {
      background-color: $base-red;
    }
  }

  &__pseudo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 18px;
    height: 18px;

    margin-right: 9px;

    border: 1px solid $base-red;
    border-radius: 50%;

    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 5px);
      left: calc(50% - 5px);

      width: 10px;
      height: 10px;
      background-color: transparent;
      border-radius: 50%;
      transition: $base-transition;
    }
  }
}

// input
.base-input {
	position: relative;
	padding-top: 22px;

	& label {
		position: absolute;
		left: 4px;
		top: 5px;
		font-size: 12px;
		visibility: hidden;
		color: transparent;

		transition: all 0.15s linear;
	}

	& input {
		width: 100%;
		padding: 12px 19px;
		background-color: #f6f6ff;
		border: 1px solid transparent;
		border-radius: 3px;

		color: $base-text-color;

		&::placeholder {
			font-size: 12px;
			color: #a2aab5;
		}

		&:focus ~ label {
			visibility: visible;
			color: #a2aab5;
		}

		&:not(:placeholder-shown) ~ label {
			visibility: visible;
			color: #a2aab5;
		}

		&:focus::placeholder {
			color: transparent;
		}
	}

	&.country {
		max-width: 205px;
		width: 100%;
		margin-right: 22px;
	}

	&.series {
		max-width: 90px;
		width: 100%;
		margin-right: 22px;
	}

	&.identification {
		margin-right: 22px;
		max-width: 278px;
		width: 100%;
	}

	&.date {
		max-width: 150px;
		width: 100%;
	}

	&.half {
		width: calc(50% - 11px);
	}

  &.time {
    max-width: 113px;
		width: 100%;

		@media (max-width: 1024px) {
			max-width: 72px;
		}
  }
}

.time-divider {
  padding-top: 20px;
}


// textarea

.base-textarea {
	position: relative;
	padding-top: 22px;

	& label {
		position: absolute;
		left: 4px;
		top: 5px;
		font-size: 12px;
		visibility: hidden;
		color: transparent;

		transition: all 0.15s linear;
	}

	& textarea {
		width: 100%;
    height: 73px;
		padding: 12px 19px;
		background-color: #f6f6ff;
		border: none;
		border-radius: 3px;

		color: $base-text-color;

		&::placeholder {
			font-size: 12px;
			color: #a2aab5;
		}

		&:focus ~ label {
			visibility: visible;
			color: #a2aab5;
		}

		&:not(:placeholder-shown) ~ label {
			visibility: visible;
			color: #a2aab5;
		}

		&:focus::placeholder {
			color: transparent;
		}
	}
}

