// button
.base-button {
  max-width: 219px;
  width: 100%;
  padding: 16px;
  font-weight: 500;
  font-size: 16px;

  color: #ffffff;

  text-align: center;

  background-color: $base-red;
  border: 1px solid transparent;
  border-radius: 3px;

  cursor: pointer;

  transition: $base-transition;

  &:hover {
    background-color: #ff004b;
  }

  &--reverse {
    color: $base-red;
    background-color: transparent;
    border: 1px solid #ebebf4;
  }
}

// checkbox
.custom-checkbox {
  display: flex;
  width: 100%;

  font-size: 15px;

  cursor: pointer;

  &--hidden {
    width: 0;
    height: 0;
    visibility: hidden;
    margin: 0;

    &:checked ~ .custom-checkbox__pseudo::after {
      background-color: $base-red;
    }
  }

  &__pseudo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 18px;
    height: 18px;

    margin-right: 9px;

    border: 1px solid $base-red;
    border-radius: 3px;

    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 5px);
      left: calc(50% - 5px);

      width: 10px;
      height: 10px;
      background-color: transparent;
      border-radius: 2px;
      transition: $base-transition;
    }
  }
}

//radio
.custom-radio {
  display: flex;

  font-size: rem(15px);
  font-weight: 400;
  color: $base-text-color;

  cursor: pointer;

  &--hidden {
    width: 0;
    height: 0;
    visibility: hidden;
    margin: 0;

    &:checked ~ .custom-radio__pseudo::after {
      background-color: $base-red;
    }
  }

  &__pseudo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 18px;
    height: 18px;

    margin-right: 9px;

    border: 1px solid $base-red;
    border-radius: 50%;

    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 5px);
      left: calc(50% - 5px);

      width: 10px;
      height: 10px;
      background-color: transparent;
      border-radius: 50%;
      transition: $base-transition;
    }
  }
}

// input
.base-input {
  position: relative;
  padding-top: 22px;

  & label {
    position: absolute;
    left: 4px;
    top: 5px;
    font-size: 12px;
    visibility: hidden;
    color: transparent;

    transition: all 0.15s linear;
  }

  & input {
    width: 100%;
    padding: 12px 19px;
    background-color: #f6f6ff;
    border: 1px solid transparent;
    border-radius: 3px;

    color: $base-text-color;
    font-size: rem(16px);

    &::placeholder {
      font-size: rem(16px);
      color: #a2aab5;
    }

    &:focus ~ label {
      visibility: visible;
      color: #a2aab5;
    }

    &:not(:placeholder-shown) ~ label {
      visibility: visible;
      color: #a2aab5;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  &.country {
    max-width: 205px;
    width: 100%;
    margin-right: 22px;
  }

  &.series {
    max-width: 90px;
    width: 100%;
    margin-right: 22px;
  }

  &.identification {
    margin-right: 22px;
    max-width: 278px;
    width: 100%;
  }

  &.date {
    max-width: 150px;
    width: 100%;
  }

  &.half {
    width: calc(50% - 11px);
  }

  &.time {
    position: relative;
    max-width: 113px;
    width: 100%;

    input {
      text-align: center;

      cursor: text;
    }

    &.active {
      .time__selector {
        display: block;    
      }
    }

    @media (max-width: 1024px) {
      max-width: 72px;
    }
  }
}

.time {

  &__selector {
    display: none;

    position: absolute;
    bottom: -45px;
    right: 0;
    z-index: 1;
    width: 208px;
    background: #ffffff;
    box-shadow: 0px 4px 30px rgba(162, 170, 181, 0.2);
    border-radius: 2px;

    &-input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;

      &-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .up,
        .down {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 22px;
          height: 22px;
          background-color: #253746;
          border: none;
          border-radius: 2px;

          &:hover {
            background-color: #344d63;
          }
        }

        .up {
          margin-bottom: 2px;
        }
      }

      .hours,
      .minutes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;

        &__input {
          flex-grow: 1;

          color: #253746;
          text-align: center;
          background-color: #ffffff;

          // border: 1px solid #000;

          &[type='number']::-webkit-outer-spin-button,
          &[type='number']::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }

          &[type='number'],
          &[type='number']:hover,
          &[type='number']:focus {
            appearance: none;
            -moz-appearance: textfield;
          }
        }
      }

      .hours {
      }
      .minutes {
      }
    }
  }
}

.time-divider {
  padding-top: 20px;
}

// textarea

.base-textarea {
  position: relative;
  padding-top: 22px;

  & label {
    position: absolute;
    left: 4px;
    top: 5px;
    font-size: 12px;
    visibility: hidden;
    color: transparent;

    transition: all 0.15s linear;
  }

  & textarea {
    width: 100%;
    height: 73px;
    padding: 12px 19px;
    background-color: #f6f6ff;
    border: none;
    border-radius: 3px;

    color: $base-text-color;

    &::placeholder {
      font-size: 12px;
      color: #a2aab5;
    }

    &:focus ~ label {
      visibility: visible;
      color: #a2aab5;
    }

    &:not(:placeholder-shown) ~ label {
      visibility: visible;
      color: #a2aab5;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }
}

// select

.custom-select {
  position: relative;
  padding: 13px 21px;

  background-color: #f6f6ff;
  border-radius: 3px;

  cursor: pointer;

  &__title {
    width: 90%;
    overflow: hidden;

    font-size: rem(16px);
  }

  &__icon {
    svg {
      transform: rotate(90deg);
    }
  }

  &__current {
    font-size: rem(14px);
    line-height: 20px;

    color: #424242;
  }

  &__select {
    position: absolute;
    top: 47px;
    left: -1px;
    z-index: 15;

    overflow: hidden;
    overflow-y: auto;
    display: none;

    width: calc(100% + 1px);
    height: 315px;

    padding: 19px;

    background-color: #ffffff;
    box-shadow: 0px 4px 40px rgba(162, 170, 181, 0.2);
    border-radius: 3px;

    &-content {
      margin-bottom: 30px;
    }

    &-item {
      margin-bottom: 23px;
      padding-left: 17px;
    }

    &-title {
      margin-bottom: 14px;
      padding-bottom: 10px;
      font-weight: 700;
      font-size: rem(14px);
      line-height: 20px;

      color: #424242;

      border-bottom: 1px solid #d9d9d9;
    }

    &-text {
      margin-bottom: 5px;
      color: #424242;

      &.selected {
        color: $base-red;
      }
    }

    &-description {
      font-weight: 400;
      font-size: rem(12px);

      color: #a4a4a4;

      & span {
        font-weight: 700;
      }
    }
  }

  &__input {
    position: absolute;
    z-index: -1;
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
    margin: 0;
    height: 0;
    font-size: 0;
  }

  &.open {
    svg {
      transform: rotate(-90deg);
    }

    .custom-select__select {
      display: block;
    }
  }
}

// search

.search {
  &__input {
    width: 100%;
    padding: 12px 19px;
    padding-right: 25px;
    background: #f6f6ff;
    border-radius: 3px;
    border: 1px solid transparent;

    &::placeholder {
      color: #a2aab5;
    }
  }

  &__button {
    position: absolute;
    top: 31px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: transparent;

    transform: rotate(90deg);
  }
}
